{% extends "layout.html" %}
{% block title %}Trang chính{% endblock %}
{% block content %}
<h2>📚 Chọn chức năng</h2>
<div style="margin: 20px 0;">
  <a href="/exam/de1">📝  Chủ đề 1- CHỦ NGHĨA XÃ HỘI TỪ NĂM 1917 ĐẾN NAY</a><br><br>
  <a href="/exam/de2">📝  Chủ đề 2- CHIẾN TRANH BẢO VỆ TỔ QUỐC VÀ CT GIẢI PHÓNG DÂN TỘC</a><br><br>
  <a href="/exam/de3">📝  Chủ đề 3- THẾ GIỚI TRONG VÀ SAU CHIẾN TRANH LẠNH</a><br><br>
  <a href="/exam/de4">📝  Chủ đề 4- ASEAN</a><br><br>
  <a href="/exam/de5">📝  Chủ đề 5- CÁCH MẠNG THÁNG 8 NĂM 1945</a><br><br>
  <a href="/exam/de6">📝  Chủ đề 6- ĐỔI MỚI </a><br><br>
  <a href="/exam/de7">📝  Chủ đề 7- LỊCH SỬ ĐỐI NGOẠI VIỆT NAM</a><br><br>
  <a href="/exam/de8">📝  Chủ đề 8- HỒ CHÍ MINH TRONG LỊCH SỬ VIỆT NAM</a><br><br>
  <a href="/upload_image">📸 Gửi ảnh bài làm</a>
</div>
{% endblock %}