{% extends "layout.html" %}
{% block title %}Trang chính{% endblock %}
{% block content %}
<h2>📚 Chọn chức năng</h2>
<div style="margin: 20px 0;">
  <a href="/exam/de1">📝  Đề VIP1- PHÁT TRIỂN ĐỀ MINH HỌA</a><br><br>
  <a href="/exam/de2">📝  Đề VIP2- PHÁT TRIỂN ĐỀ MINH HỌA</a><br><br>
  <a href="/exam/de3">📝  Đề VIP3- PHÁT TRIỂN ĐỀ MINH HỌA</a><br><br>
  <a href="/exam/de4">📝  Đề VIP4- PHÁT TRIỂN ĐỀ MINH HỌA</a><br><br>
  <a href="/exam/de5">📝  Đề VIP5- PHÁT TRIỂN ĐỀ MINH HỌA</a><br><br>
  <a href="/exam/de6">📝  Đề VIP6- PHÁT TRIỂN ĐỀ MINH HỌA</a><br><br>
  <a href="/exam/de7">📝  Đề VIP7- PHÁT TRIỂN ĐỀ MINH HỌA</a><br><br>
  <a href="/exam/de8">📝  Đề VIP8- PHÁT TRIỂN ĐỀ MINH HỌA</a><br><br>
  <a href="/upload_image">📸 Gửi ảnh bài làm</a>
</div>
{% endblock %}